body {
    background-color: rgba(247, 217, 179, 0.603);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}

#quran-verse {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

#prayer-times-container {
    background: linear-gradient(to right, #021c4d, #2a5298);
    padding: 20px;
    border-radius: 10px;
    color: white; /* Added color property to ensure text is visible */
}

#islamic-date {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#countdown-container {
    font-size: 1.5em; /* Increase the font size */
    color: white;
    background-color: rgba(2, 6, 63, 0.856); /* Add a background color */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Add rounded corners */
    margin: 20px auto; /* Center the container */
    width: 80%; /* Set the width */
    max-width: 600px; /* Set the maximum width */
    text-align: center; /* Center the text */
}

#countdown {
    font-size: 2em; /* Increase the font size */
    font-weight: bold; /* Make the text bold */
    color: white; /* Change the text color back to yellow for visibility */
   
}